{% extends "layout.html" %}

{% block content %}
<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<div class="inputform">
    <form method="post">
        {% csrf_token %}
        <ul>
            <li class="control-group">
                {{ form.email.errors }}
                {{ form.email }}
            </li>
        </ul>
        <script type="text/javascript">
            $('#id_email').attr('class', 'home-form-input create-account').attr('placeholder', 'Email');
        </script>
        <div class="loginoption">
            <span class="cssbutton formsubmit">Log In</span>
            <a href="{% url 'forgot_password1' %}" class="cant">Reset Password</a>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

 <script type="text/javascript">
$('.formsubmit').click(function()
{
    $(this).closest('form').submit();
});
</script>

{% endblock %}
