{% extends 'layout.html' %}

{% block content %}
<div class="sales">
    <h1>Sign up for ScubaMob</h1>
</div>
<div class="inputform">
    <form method="post">
        {% csrf_token %}
        <ul>
            <li class="control-group">
                <ul class="clearfix">
                    <li class="pull-left">
                        {{ account_form.first_name.errors }}
                        {{ account_form.first_name }}
                    <li class="pull-left">
                        {{ account_form.last_name.errors }}
                        {{ account_form.last_name }}
                    </li>
                </ul>
                <div style="clear:both"></div>
            </li>
            <li class="control-group">
                {{ account_form.username.errors }}
                {{ account_form.username }}
            </li>
            <li class="control-group">
                {{ account_form.email.errors }}
                {{ account_form.email }}
            </li>
            <li class="control-group">
                {{ account_form.password1.errors }}
                {{ account_form.password1 }}
            </li>
            <li class="control-group">
                {{ account_form.password2.errors }}
                {{ account_form.password2 }}
            </li>
            <li>
                <span class="cssbutton formsubmit">Sign Up</span>
            </li>
        <ul>
    </form>
</div>

<script type="text/javascript">
$('.formsubmit').click(function()
{
    $(this).closest('form').submit();
});
</script>

{% endblock %}
