{% extends "layout.html" %}
{% load crispy_forms_tags static %}

{% block content %}
<div class="sales">
    <h1>Log In</h1>
</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="inputform">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{form|crispy}}
        <div class="loginoption">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'forgot_password' %}" class="cant">Forgot your password?</a>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

<ul>
{% for name in social_auth.backends.oauth2 %}
   <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
{% endfor %}
</ul>

<script>
$('.formsubmit').click(function()
{
    $(this).closest('form').submit();
});
</script>

{% endblock %}
