{% extends "layout.html" %}
{% load crispy_forms_tags static %}

{% block content %}

<style>
.loginform {
    max-width:360px;
    margin:0 auto;
}
</style>


<div class="container">
    <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- start body -->
        <div class="body-signup loginform">
            <div class="form-in no-gutters">
                <div class="centered">
                    <h3>Log into {{html_name | safe}}</h3>
                </div>

                <form method="post" action="{% url 'login' %}" id="f_login">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {% if form.errors %}
                    <div class="errors alert alert-danger" role="alert">
                        <span>Please check your email and password combination</span>
                    </div>
                    {% endif %}


{{ form|crispy }}


                    <div class="form-row loginsuffix">
                        <div class="form-group col-md-6" style="text-align:right">
                            <a href="{% url 'forgot_password' %}">Forgot password</a>
                        </div>
                    </div>

                    <div class="form-group no-gutters">
                        <!-- Button -->
                        <div class="col-md-12">
                            <button id="btn-login" type="submit" class="btn btn-primary btn-block">Log in</button>
                        </div>
                    </div>
                    <div class="login_footer">
                        <div class="separator"></div>
                        <div class="signup">
                            Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
