{% extends "layout.html" %}
{% load static compress %}

{% block leftmenu %}{% endblock %}

{% block includes %}
<link rel="manifest" href="{% static 'manifest.json' %}" />
{% endblock %}

{% block reactscript %}

{% compress js file profile %}
<script type="module" src="{% static 'react/dist/profile.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<style>
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-sidebar > .header {
    border-radius: 8px 8px 0px 0px;
    position:absolute;
    width:100%;
    background-color:rgba(45,46,47,1);
    box-sizing:border-box;
    z-index:-1;
    min-height:80px;
}

.profile-userpic img {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  display:block;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


</style>


<div class="row profile">
    <div class="col-sm-3">
        <div class="card profile-sidebar">
            <div class="header"></div>
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="{{user.profile_image}}" class="img-fluid img-thumbnail rounded-circle" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    {{profile.get_full_name}}
                </div>
                <div class="profile-usertitle-job">
                    San Diego, CA
                </div>
                <div class="profile-usertitle-job">
                    x x x
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
                <button type="button" class="btn btn-success btn-sm">Follow</button>
                <button type="button" class="btn btn-danger btn-sm">Message</button>
            </div>
            <!-- END SIDEBAR BUTTONS -->
        </div>

        <div class="pt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="bi bi-stars"></i> Reviews
                </li>
                <li class="list-group-item">
                    <i class="bi bi-image"></i> Photos and Videos
                </li>
                <li class="list-group-item">
                    <i class="bi bi-person-square"></i> Buddies
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
    </div>
</div>

<script src="{% static 'js/chat.js' %}"></script>
<style>

.og_preview {
    width:100px;
}

.drag-over {
    border: dashed 3px red !important;
}

#chatwindow {
    background-color:#FFF;
    resize: none;
    height:200px;
    padding:0.375rem 0.75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-clip:padding-box;
    border: 1px solid #ced4da;
    border-radius:0.25rem;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin:0;
    font-family:inherit;
    overflow:scroll;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
</style>

{% if request.is_user %}
this is me!!!!!!
{% else %}
    <div class="frnd ctr"></div>

    {% if chat_server_active %}
    <button class="btn btn-primary" id="openchat"><i class="bi bi-messenger"></i> Message</button>

    <div class="row">
        <div class="col-6 pt-4 d-none" id="chatblock">
            <form>
                <div id="chatarea" class="">
                    <div class="mb-3">
                        <div class="chat-body" id="chatwindow">
                        </div>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="chatbox" rows="3"/>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <button class="btn btn-primary w-100" id="send" type="button" disabled>Send Message</button>
                </div>
                <input type="hidden" name="uid" id="uid" value="{{user.id}}"/>
            </form>
        </div>
    </div>
    {% endif %}
{% endif %}

<script type="text/template" id="friendrequested">
You have sent a request<br/>
<a class="link friend cancel" data-id="{{profile.account.first.guid }}">Cancel Friend Request</a>
</script>

<script type="text/template" id="requestfriendship">
<a class="link friend add" data-id="{{profile.account.first.guid }}">Add Friend</a>
<a class="link friend block" data-id="{{profile.account.first.guid }}">Block friend</a>
</script>

<script type="text/template" id="friendrequest">
Respond to user friend request<br/>
<a class="link friend accept" data-id="{{ profile.account.first.guid }}">Accept</a>
<a class="link friend ignore" data-id="{{ profile.account.first.guid }}">Ignore</a>
</script>

<script>
    const username = "{{profile.username}}";
    const userid = "{{profile.pk_as_str}}";

    const headers = {
        'Content-Type': 'application/json',
        'X-CSRFToken':  Cookies.get('csrftoken'),
    };

    const addBuddy = () => {
        fetch('/api/profile/buddy/add', {
            headers: headers,
            method: 'POST',
            body: JSON.stringify({userid:userid})
        })
        .then(response => response.json())
        .then(() => {
            deactivateAll();
            activateCancelRequest();
         });
    }

    const cancelBuddyRequest = () => {
        fetch('/api/profile/buddy/cancel', {
            headers: headers,
            method: 'POST',
            body: JSON.stringify({userid:userid})
        })
        .then(response => response.json())
        .then(resp => {
            deactivateAll();
            activateAddBuddy();
        });
    }

const doBlock = () => {
    fetch('/api/profile/block', {
        headers: headers,
        method: 'POST',
        body: JSON.stringify({username:username})
    })
    .then(response => response.json())
    .then(x => {
        fetch('/api/ui/message', {
            headers: headers,
            method: 'POST',
            body: JSON.stringify({message:x.msg})
        })
        .then(response = () => {
            location.href='/home';
        });
    });
}

const confirmRequest = () => {
    fetch('/api/profile/buddy/confirm', {
        headers: headers,
        method: 'POST',
        body: JSON.stringify({userid:userid})
    })
    .then(response => response.json())
    .then(x => {
    });
}


const setBuddyStatus = (status) => {
    switch(status.state) {
        case 0:
            activateAddBuddy();
            break;
        case 1:
            activateCancelRequest();
            break;
        case 2:
            activateRemoveLink();
            break;
        case 3:
            activateConfirmBuddy();
            break;
        default:
            alert("BAD");
    }
}

const deactivateAll = () => {
    ['addbuddy', 'cancelrequest', 'removeLink'].forEach(f => {
        document.getElementById(f).classList.add('d-none');
    });
}

const activateAddBuddy = () => {
    showRequest('addbuddy');
}

const activateConfirmBuddy = () => {
    showRequest('confirmbuddy');
}

const activateCancelRequest = () => {
    showRequest('cancelrequest');
}

const activateRemoveLink = () => {
    showRequest('removeLink');
}

const showRequest = (id) => {
    document.getElementById(id).classList.remove('d-none');
}

{% if not request.is_user %}
document.addEventListener("DOMContentLoaded", () => {
    fetch('/api/buddies/status?userid=' + userid)
    .then(response => response.json())
    .then(response = (r) => {
        setBuddyStatus(r);
    });
});
    {% endif %}


</script>

<script type="text/template" id="isfriend">
You are friends<br/>
<a class="link friend unfriend" data-id="{{profile.account.first.guid }}">Unfriend</a><br/>
</script>

<script type="text/javascript">
{% if friendship_request.id %}
var requestId='{{friendship_request.id}}';
{% else %}
var requestId=null;
{% endif %}
{% if friendship.id %}
var friendId    =   '{{friendship.id}}',
{% else %}
var friendId=null;
{% endif %}

</script>

{% include "messenger/message.html" %}

{% endblock %}

<!--https://bootsnipp.com/snippets/MRgWB -->
<!--https://bootsnipp.com/snippets/M48pA -->
