/.*\.pyc$
/.*\.orig$
^\.DS_Store
env/
ENV/
!static/
static/*
!static/js/
!static/js/*
!static/react/

!static/images/
!static/images/*

!static/css/
!static/css/*

!static/react/
static/react/*
!static/react/src/
!static/react/src/*

db.sqlite3*
*.pyc
*.swp
test_results.xml
test_result.log
testdata
test.sqlite3
node_modules/*
xunittest.xml
coverage.xml
test.xml
test*.xml
coverage
flake-report
.coverage
pep8.log

#https://stackoverflow.com/questions/44568184/gitignore-everything-except-a-subfolder-with-every-content
