/.*\.pyc$
/.*\.orig$
/.*\.swp$
^\.DS_Store
env/
static/components
static/CACHE
static/django_extensions
db.sqlite3
*.pyc
test_results.xml
test_result.log
testdata
test.sqlite3
static/admin
node_modules/*
