/.*\.pyc$
/.*\.orig$
^\.DS_Store
env/
static/react/dist
static/components
static/CACHE
static/django_extensions
db.sqlite3*
*.pyc
*.swp
test_results.xml
test_result.log
testdata
test.sqlite3
static/admin
node_modules/*
