{% extends 'layout.html' %}
{% load crispy_forms_tags static %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- start body -->
        <div class="body-signup">
            <div class="centered">
                <h3>Reset Your Password</h3>
                <p>Forgot your password? Enter your e-mail address below, and we'll send you an email<br/>
                     with a link to reset your password</p>
            </div>

            <div class="form-in">
              <form method="post" action="" id="f_reset">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="form-group no-gutters">
                    <!-- Button -->
                    <div class="col-md-12">
                        <button id="btn-login" type="submit" class="btn btn-primary btn-block no-gutters">Reset Password</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
