{% extends "layout.html" %}

{% block content %}

            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="topbread">
                            Account > Password Reset
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newcontainerforpages">
                            <div class="blueheadertitle">
                                Password Reset
                            </div>

                            <div class="sign-border" style="padding-bottom:100px">
                                <div class="sign1">
                                    <div class="sign2">
                                        <div class="register">
                                            <h1 class="signh1">Forgot Password</h1>
                                        </div>

                                        <div class="register">
                                            <ul>
                                                <li>An email with instructions on how to access your account has been sent to you</li>
                                            </ul>

                                            <div>
                                                To Access Your Account
                                                 <ol>
                                                    <li>Check your email account</li>
                                                    <li>Click the link in the email</li>
                                                 </ol>
                                            </div>
                                            <div>
                                                You will then be asked to change your password.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
