{% extends "layout.html" %}
{% load static compress %}

{% block fullscreen %}
<div id="divesite" data-id="{{site.pk_as_str}}"></div>
{% endblock %}


{% block reactscript %}
{% compress js file divesite %}
<script type="module" src="{% static 'react/dist/divesite.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}


<script src="//maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyCZcaPxfE_UnCFqYFEuZU1lI7kIMSMLvfs" type="text/javascript"></script>
<script src="{% static 'js/divesites/sm.divesites.js' %}"></script>

<style>
    #map_canvas { height: 554px;width: 758px }
    body { overflow:visible;width:100% }
    .togglebtn { cursor:pointer; }

.map-container {
  height: 400px;
  width: 400px;
}

.jumbotron {
    background-size: cover;
}
</style>

    <div class="right-field">
        <div id="map_canvas"></div>
        <div class="divshop-address2" style="display:none" id="divshop-address2">
            <div class="divshop-address-details" id="divsite-detail">
            </div>
        </div>
    </div>

{% endblock %}
