.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


@media (min-width: 992px) {
  #mainNav {
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }

    .masthead {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    .masthead {
      height: 85vh;
      padding: 0;
  }



  .masthead h1, .masthead .h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
      color:#fff;
  }
}
