{% extends 'layout.html' %}
{% load static compress %}

{% block navbar %}fixed-top{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}" media="all">
{% endblock %}

{% block extrajs %}
{% compress js file homepage %}
<script src="{% static 'js/home/index.js' %}"></script>
{% endcompress %}
{% endblock %}


{% block headermenu %}{% endblock %}
{% block title %}ScubaMob - A Social Dive Spot{% endblock %}

{% block content %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
</div>


<div class="row gx-4 gx-lg-5">
    {% for site in divesites %}
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div className="card h-100">
                <img class="card-img-top" src={% static site.banner %} alt="Card image cap" />
                <div className="card-body">
                    <h2 class="card-title text-center">{{ site.name }}</h2>
                    <i className="bi bi-geo"></i>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block fullscreen %}
    <style>
    .masthead {
        background: url({% static 'jtrons/img_158126882_L.jpg' %});
    }
    </style>
    <header class="bg-dark masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Scubamob</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">A Fun Divesite</h2>
                    <a class="btn btn-warning" href="{% url 'signup' %}">Sign Up Now</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block reactjs %}{% endblock %}

<!--
    https://www.istockphoto.com/video/flock-of-small-beautiful-red-fishes-at-reef-gm1184461988-333364992
-->
