{% extends 'layout.html' %}
{% load static %}

{% block navbar %}fixed-top{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}" media="all">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/home/index.js' %}"></script>
{% endblock %}


{% block headermenu %}{% endblock %}
{% block title %}ScubaMob - A Social Dive Spot{% endblock %}

{% block content %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
</div>


<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card One</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card Two</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card Three</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div>
{% endblock %}

{% block fullscreen %}
    <style>
    .masthead {
        background: url({{jumbotron.url}});
    }
    </style>
    <header class="bg-dark masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Scubamob</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">A Social Divesite</h2>
                    <a class="btn btn-warning" href="{% url 'signup' %}">Sign Up Now</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block reactjs %}{% endblock %}

<!--
    https://www.istockphoto.com/video/flock-of-small-beautiful-red-fishes-at-reef-gm1184461988-333364992
-->
