{% load static compress %}

<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{% block title %}ScubaMob{% endblock %}</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

        {% compress css file style %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all" />
        {% endcompress %} 

        {% compress css file vendor %}
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" media="all" />
        {% endcompress %}

        {% compress js file vendor %}
        <script src="{% static 'mustache/mustache.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}" media="all" />
        {% endcompress %}

        {% compress js file scripts %}
        <script src="{% static 'js/sm.core.js' %}"></script>
        <script src="{% static 'js/sm.poll.js' %}"></script>
        <script src="{% static 'js/core.js' %}"></script>
        {% endcompress %}

        {% block includes %}
        {% endblock %}
    </head>

    {% block mainblock %}
    {% endblock %}
