{% extends "layout.html" %}
{% load media %}
{% load mediaurls %}

{% block content %}
{% include_media 'diveshops_index.js' %}

{% if messages %}
<ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}


<script type="text/javascript"> 
    
$(document).ready(function()
{
    $(window).resize(function()     
    {
        SM.DiveShops.initScreenSize();
    });

    SM.DiveShops.initUserLocation();
    SM.DiveShops.displayMap();
    
    $('.chosen-select').chosen();

    $('.radius').click(function(){

        if ($('#radius').val() != "")
        {
            SM.DiveShops.resetMarkers();
            SM.DiveShops.getSites($("#radius").val());
        }
    });
});

</script>

<div class="sales">
    <h1 style="margin-bottom:10px">Dive Shops</h1>
</div>

    <div class="ha_right" style="margin-bottom:10px">
        <a href="{% url 'diveshops_new' %}" class="cssbutton" style="width:130px">Create a Dive Shop</a>
    </div>


    <div class="right-field">
        <div class="radious-findus">
            <table width="100" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr valign="top">
                        <!--
                        <td width="276"><input name="" type="text" class="inputbox" value="Enter Street, City, State Or Zip Code"></td>
                        -->
                        <td width="75">
                       
                            <select name="radius" id="radius" class="chosen-select">
                                <option value="">Radius</option>
                                <option value="5">5 Miles</option>
                                <option value="10">10 Miles</option>
                                <option value="25">25 Miles</option>
                                <option value="50">50 Miles</option>
                            </select>
                        </td>
                        <td width="75"><a href="#" class="radius cssbutton">Find A Shop</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left">
            <div id="map_canvas" style="width:758px;height:554px"></div>   
        </div>
    </div>
    
{% endblock %}
