{% extends "layout.html" %}

{% block content %}
{% include 'title.html' with title="General Settings" %}
{% include 'account/settings/menu.html' with title="General Settings" %}

{% if messages %}
<ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
{% endif %}

    <form method="post">{% csrf_token %}
    <div class="editor">
        <div class="form">
            <table>
                <tbody>
                    {{ form }}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ctr">
        <input type="submit" value="Save" />
        <a href="{% url 'home' %}">Cancel</a>
    </div>
    </form>

{% endblock %}
