{% load static compress %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

        {% compress css file style %}
        <link rel="stylesheet" href="{ static 'css/style.css' %}" media="all" />
        {% endcompress %} 

        {% compress css file vendor %}
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" media="all" />
        {% endcompress %}

        {% compress js file vendor %}
        <script src="{% static 'mustache/mustache.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
        {% endcompress %}

        {% compress js file scripts %}
        <script src="{% static 'js/sm.core.js' %}"></script>
        <script src="{% static 'js/sm.poll.js' %}"></script>
        <script src="{% static 'js/core.js' %}"></script>
        {% endcompress %}

        {% block includes %}
        {% endblock %}
        
        <title>{% block title %}ScubaMob{% endblock %}</title>


        <style>
/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}
/* GLOBAL STYLES */


/* HEADER STYLE */
header .navbar {
  padding: 30px 0;
  border-top: 2px solid #e11d25;
}

header .navbar-nav .nav-link {
  color: #060606;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

header .navbar-nav .nav-item:hover .nav-link {
  color: #e11d25
}

header .navbar-brand {
  position: absolute;
  top: -20px;
  left: 12px;
  width: 100px;
  display: block;
}

header .navbar-collapse {
  margin-left: 120px;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  width: fit-content;
  min-width: 160px;
}

header .navbar-toggler {
  border: none;
}

header .navbar-toggler:focus {
  box-shadow: none;
}


@media screen and (max-width: 991px) {
  /* header .navbar-brand {
    width: 90px;
    
  } */
  header .navbar-collapse {
    margin-left: 0;
  }

  header .navbar-collapse .navbar-nav:first-child {
    margin-top: 100px;
  }


  .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
  }
}
        </style>


    </head>

    <body>
        {% compress js file core %}
        <script src="{% static 'js/sm.core.js' %}"></script>
        <script src="{% static 'js/sm.poll.js' %}"></script>
        <script src="{% static 'js/sm.common.js' %}"></script>
        {% endcompress %}
        <script>
        var image_url = "/";
        var divemarker  = "{% static 'images/icons/divemarker.png' %}";
        $(document).ready(function()
        {
            doPoll();
        });
        </script>

        <!-- Navbar -->
        <header id="header">
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container position-relative justify-content-end">
              <!-- LOGO -->
                <a class="navbar-brand" href="#">
                  <img class="w-100" src="{% static 'images/logo_small_80.png' %}" alt="Logo">
                </a>
                <!-- LOGO -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {% block headermenu %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Logs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gallary</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dive Sites</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Equipment Maintenance</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dive shops</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Environmental Causes</a>
                  </li>
                </ul>

                    {% block rightmenu %}
                    <ul class="navbar-nav flex-row ms-lg-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-bell-fill"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'settings_home' %}">Setting</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endblock %}
                {% endblock %}
              </div>
            </div>
          </nav>
        </header>
        <!-- Navbar -->

        <div id="fb-root"></div>
        <div class="container">
            <div id="wrap">
                <div class="left-block">
                    {% if logged_in %}

                    {% if page_title %}
                    <h2>{{ page_title }}</h2>
                    {% endif %}
                    <div class="menu-block">
                        {% block sidemenu %}
                        <ul>
                            <li><a href="{% url 'profile' username=user.username %}">{{ fullname }}</a></li>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'logbook_home' %}">Logs</a></li>
                            <li><a href="{% url 'gallery_home' %}">Gallery</a></li>
                            <li><a href="{% url 'divesites_home' %}">Dive Sites</a></li>
                            <li><a href="{% url 'equipment_home' %}">Equipment Maintenance</a></li>
                            <li><a href="{% url 'diveshops_home' %}">Dive Shops</a></li>
                            <li><a href="#">Environmental Causes</a></li>
                        </ul>
                        {% endblock %}
                    </div>
                    {% endif %}
                </div>

                <div class="right-block">
                {% block content %}
                {% endblock %}
                </div>


            </div>
            <div class="barter-block" style="text-align:right">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li>&nbsp;|&nbsp;</li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
