{% load media %}
{% include "includes/origin.html" %} 

{% block includes %}
{% endblock %}

{% block bodytag %}
<body>
<script type="text/javascript">
var image_url = "/"; 
var divemarker  = "{% media_url 'images/icons/divemarker.png' %}";
$(document).ready(function()
{
    doPoll();
});
</script>

<div id="fb-root"></div>
{% endblock %}
<div id="wrap-block">
    <div id="wrap">
        <div class="header-block">
            <div class="logo-small">
                <img src="{% media_url 'images/logo_small_80.png' %}" width="80" alt="logo small" />
            </div>
            <div class="header-top">
                {% if logged_in %}
                <div style="padding-top:10px;padding-bottom:10px;">
                    <div class="frogman-text prepand" style="text-align:right">{{ fullname }}&nbsp;&nbsp;<a href="#" onclick="$('.friend-cross').slideToggle()"><a href="#" onclick="$('.friend-cross').slideToggle()"><img onclick="$('.logbox').slideToggle()" src="{% media_url 'images/scubamob-icon.jpg' %}" alt="" style="position:relative; top:6px; background-image: url(#); layer-background-image: url(#); border: 1px none #000000;" /></a>

                     </div>
                {% else %}
                <div class="header-login">
                    <table style="width:100%;border:0px" cellpadding="0" cellspacing="0">
                      <tr>
                          <td width="155" align="right">
                              <a href="{% url 'account_login' %}"><img src="{% media_url 'images/scubamob-login-button.png' %}" /></a>&nbsp;
                              <a href="{% url 'account_register' %}"><img src="{% media_url 'images/scubamob-signup-top.png' %}" /></a>
                          </td>
                      </tr>
                    </table>
                </div>	
                {% endif %}
            </div>

            {% if logged_in %}
                <span id="alerts">{{ alerts }}</span>
                <div class="logbox">
                    <table style="width:100%;border:0px">
                        <tr>
                            <td class="logbox-text ha_left"><a href="{% url 'friends_index' %}">Friends</a></td>
                        </tr>
                        <tr>
                            <td class="logbox-text ha_left" style="padding-top:5px;"><a href="{% url 'account_settings' %}">Account Settings</a></td>
                        </tr>
                        <tr>
                            <td class="logbox-text ha_left" style="padding-top:5px; border-bottom:1px solid #bebebe; padding-bottom:15px;"><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></td>
                        </tr>
                        <tr>
                            <td class="logbox-text ha_left" style="padding-top:10px"><a href="#">Help</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>


        <div class="left-block">
            {% if logged_in %}

            {% if page_title %}
            <h2>{{ page_title }}</h2>
            {% endif %}
            <div class="menu-block">
                <ul>
                    <li><a href="{% url 'profile' username=username %}">{{ fullname }}</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'logbook_home' %}">Logs</a></li>
                    <li><a href="{% url 'gallery_home' %}">Gallery</a></li>
                    <li><a href="{% url 'divesites_home' %}">Dive Sites</a></li>
                    <li><a href="{% url 'equipment_home' %}">Equipment Maintenance</a></li>
                    <li><a href="{% url 'diveshops_home' %}">Dive Shops</a></li>
                    <li><a href="#">Environmental Causes</a></li>
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="right-block">
        {% block content %}
        {% endblock %}
        </div>
        

    </div>
    <div class="barter-block" style="text-align:right">
        <ul>
            <li><a href="#">Contact Us</a></li>
            <li>&nbsp;|&nbsp;</li>
            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
        </ul>
    </div>
</div>
</body>
</html>
