{% extends "layout.html" %}
{% load i18n %}

{% block content %}

            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="topbread">            
                            Account > Password Reset
                        </div>  
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newcontainerforpages">
                            <div class="blueheadertitle">
                                Password Reset
                            </div>
                            
                            <div class="sign-border" style="padding-bottom:100px">
                                <div class="sign1">
                                    <div class="sign2">
                                        <div class="register"> 
                                            <h1 class="signh1">Your Password Has Been Reset</h1>
                                        </div>

                                        <div class="register">
                                            <p>{% trans 'Your password was changed.' %}</p>
											<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
