{% extends 'layout.html' %}
{% load i18n django_bootstrap5 static %}

{% block content %}
<script>
window.addEventListener("pageshow", function (event) {
    document.getElementById('f_reset').reset();
});
</script>

<div class="container">    
    <div class="row">
        <!-- start body -->


        {% if validlink %}

        <div class="body-signup">
            <div class="centered">
                <h3>Reset Your Password</h3>
                <p>Pick a new password and get right back to listing! For your security, please choose a password you've never used before.</p>
            </div>

            <div class="form-in">
              <form method="post" action="" id="f_reset"> 
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="form-group no-gutters">
                    <!-- Button -->                                        
                    <div class="col-md-12">
                        <button id="btn-login" type="submit" class="btn btn-primary btn-block no-gutters">Reset Password</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
        {% else %}
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}

    </div>
</div>
{% endblock %}
