{% extends "admin/change_form.html" %}
{% load static compress %}

{% block extrahead %}
<script src="https://cdn.tiny.cloud/1/a0lq0ssux6upq2valuacc70rk9sy95v6qx6xvi08e8z3wbhv/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% load i18n admin_urls admin_modify static %}
{% block object-tools %}
{% endblock %}

{% block after_related_objects %}
    <script>
      tinymce.init({
        selector: '#id_content',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
      });
    </script>
{% endblock %}
