<h1>Dive Shop Profile Page</h1>
<l1>Main Graphic<l1><h2>{{ viewshop1.maingraphic}}</h2>
<l1>Subgraphic One<l1><h2>{{ viewshop1.subgraphic1}}</h2>
<l1>Subgraphic Two<l1><h2>{{ viewshop1.subgraphic2}}</h2>
<l1>Subgraphic Three<l1><h2>{{ viewshop1.subgraphic3}}</h2>
<l1>Shop Blurb<l1><h2>{{ viewshop1.shopblurb}}</h2>
<l1>Shop Feature One<l1><h2>{{ viewshop1.shopfeature1}}</h2>
<l1>Shop Feature Two<l1><h2>{{ viewshop1.shopfeature2}}</h2>
<l1>Shop Feature Three<l1><h2>{{ viewshop1.shopfeature3}}</h2>
<l1>Shop Feature Four<l1><h2>{{ viewshop1.shopfeature4}}</h2>
<l1>Shop Feature Five<l1><h2>{{ viewshop1.shopfeature5}}</h2>
<l1>Shop Feature Six<l1><h2>{{ viewshop1.shopfeature6}}</h2>
<l1>Shop Name<l1><h2>{{ viewshop1.shopname}}</h2>
<l1>Shop Address<l1><h2>{{ viewshop1.shopaddress}}</h2>
<l1>Shop City<l1><h2>{{ viewshop1.shopcity}}</h2>
<l1>Shop State<l1><h2>{{ viewshop1.shopstate}}</h2>
<l1>Shop Country<l1><h2>{{ viewshop1.shopcountry}}</h2>
<l1>Shop Contact Information<l1><h2>{{ viewshop1.shopcontactinfo}}</h2>
<l1>Shop Email<l1><h2>{{ viewshop1.shopmail}}</h2>

